
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
}

.top-bar-section li {
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

.group {
    width: 250px;
    height: 150px;
    margin: 1px;
    display: inline-block;
    border: 1px solid;
    text-align: center;

}

.group:hover { background-color: black; }

#group_name {
    /*float: right;*/
    width: 800px;
    height: 20px;
    margin: 1px;
    /*display: block;*/
    border: 2px solid black;
    text-align: center;
}

#join_group {
  background-color: black;
}

#leave_group {
  background-color: black;
}