/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/*.question_container{
	display: inline-block;
	width: 100%;
}*/
/*.question {
	display: block;
	float: left;
	margin-right: 20px;
	vertical-align: bottom;
	height: 30px;
}*/

.question_time {
	float: right;
	margin-top: 20px;
}

#front_page_title{
	display: block;
	float: left;
	font-size: 30px;
	margin-left: 8%;
	margin-top: 30px;
	width: 84%;
}

#front_page_question_table{
	display: inline-block;	
	margin-left: 8%;
	width: 60%;
}

#question_title {
	display: inline-block;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 8%;
	margin-right: 8%;
	word-wrap: break-word;
}

#question_title_horizontal{
	margin-left: 8%;
	margin-right: 8%;

}

#question_vote_container {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 8%;
	width: 8%;
	word-wrap: break-word;
}

#question_left_container {
	display: block;
	float: left;
	margin-top: 20px;
	width: 60%;
	word-wrap: break-word;
}

#question_table{
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 8%;
	width: 70%;
	word-wrap: break-word;
}

#question_right_container {
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 8%;
	width: 10%;
	text-align: right;
}

.answer_left_container {
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: 8%;
	width: 60%;
	word-wrap: break-word;
}

.answer_right_container {
	display: block;
	float: right;
	margin-top: 20px;
	margin-right: 8%;
	width: 20%;
	text-align: right;
}

#answer_header {
	/*display: inline-block;*/
	/*position: absolute;*/
	font-size: 20px;
	font: bold;
	margin-top: 20px;
	float: left;
  	width: 80%;
  	margin-left: 8%;
}


#question_time{
	margin-bottom: 10px;
	display: block;
	float:right;
}
.question_title {
	font-size: 15px;
	/*margin-left: 0px;*/
}

.answer_modifiers {
	display: block;
	float: right;
	/*border: 1px solid black;*/
	margin: 2px;
	padding: 5px;
}

.answer_modifiers:hover{
	background-color: rgba(0,0,0, 0.8);
}

.title {
	font-size: 25px;
	margin-left: 8%;
	margin-top: 30px;
}

.form_label {
	font-size: 20px;
	margin-top: 20px;
	width: 84%;
	word-wrap: break-word;
}


.form{
	margin-left: 8%;
	margin-right: 8%;	
}

.form_textarea{
	width: 84%;
	height: 200px;
}

.form_textfield{
	width: 84%;
		margin-left: 8%;
	margin-right: 8%;	
}




.question_stats {
	width: 25%;
	/*font-size: 15px;*/
}

.question_stats p{
	margin-bottom: 0px;
	/*font-size: 15px;*/
}

.stats_title {
	font-size: 10px;
}

.question_stat{
	display:block;
	float:left;
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
}

.question_content{
	display: block;
}

.tag {
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 20px;
	border: 1px solid black;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

.tag:hover{
	background-color: rgba(0,0,0, 0.5);
}

.top_question_container{
	width: 100%;
}

.left_question_container{
	display: block;
	float: left;
	width: 70%;
}

.right_question_container{
	display: block;
	float: right;
	width: 30%;
}

.arrows {
	font-size: 40px;
	margin-left: 40px;
}
.votes {
	font-size: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-left: 47px;
}